{% extends "template.html" %}
{% block conteudo %}


      <form action="{{ url_for('atualizar') }}" method="post">
        <fieldset>
             <div class="form-row">
                 <div class="form-group col-md-2">
                     <label for="id">ID do registro:</label>
                     <input name="id" id="id"  value="{{ censo.id }}" readonly="readonly">
                 </div>
             </div>


          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="nr_guia">Número da Guia:</label>
              <input type="number" id="nr_guia" name="nr_guia" class="form-control form-control-sm" value="{{censo.nr_guia}}">
            </div>
            <div class="form-group col-md-2">
              <label for="acomodacao">Acomodação:</label>
              <input type="text" id="acomodacao" name="acomodacao" class="form-control form-control-sm" value="{{censo.acomodacao}}">
            </div>
            <div class="form-group col-md-7">
              <label for="ds_hospital">Hospital:</label>
                <select class="form-control form-control-sm" id="ds_hospital" name="ds_hospital">
                    <option selected>{{censo.ds_hospital}}</option>
                    {% for hospital in lista_hospitais %}
                        <option>{{ hospital }}</option>
                    {% endfor %}
                </select>
            </div>
          </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="beneficiario">Beneficiario:</label>
                  <input type="text" id="beneficiario" style="text-transform: uppercase" name="beneficiario" class="form-control form-control-sm" value="{{censo.beneficiario}}">
                </div>

                <div class="form-group col-md-4">
                  <label for="plano">Plano:</label>
                  <input type="text" id="plano" name="plano" class="form-control form-control-sm" value="{{censo.plano}}">
                </div>

                <div class="form-group col-md-4">
                  <label for="classificacao">Classificacao:</label>
                  <input type="text" id="classificacao" name="classificacao" class="form-control form-control-sm" value="{{censo.classificacao}}">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="diagnostico">Diagnostico:</label>
                    <textarea type="text" id="diagnostico" name="diagnostico" class="form-control" rows="2">{{censo.diagnostico}}</textarea>
                </div>
            </div>


            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="quadro_clinico">Quadro Clinico:</label>
                    <textarea type="text" id="quadro_clinico" name="quadro_clinico" class="form-control" rows="2">{{censo.quadro_clinico}}</textarea>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="dt_entrada">Data de entrada:</label>
                    <input type="date" id="dt_entrada" name="dt_entrada" class="form-control" value="{{censo.dt_entrada if censo.dt_entrada != none else ''}}">
                </div>
                 <div class="form-group col-md-3">
                    <label for="dt_saida">Data de saída:</label>
                    <input type="date" id="dt_saida" name="dt_saida" class="form-control"  value="{{censo.dt_saida if censo.dt_saida != none else ''}}">
                 </div>
            </div>

            <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
            <a class="btn btn-primary"  href="{{ url_for('index') }}"> Voltar </a>
        </fieldset>

      </form>


{% endblock %}