{% extends "template.html" %}
{% block conteudo %}

    <div class="form-row">

        <div class="form-group col-md-6">
            <form id="formnovo" action="{{ url_for('criar') }}" method="post">
                <fieldset>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="nr_guia">Número da Guia:</label>
                            <input type="number" id="nr_guia" name="nr_guia" class="form-control form-control-sm" required>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="acomodacao">Acomodação:</label>
                            <select class="form-control form-control-sm" id="acomodacao" name="acomodacao">
                                <option selected>Escolher...</option>
                                <option>ENFERMARIA</option>
                                <option>UTI</option>
                            </select>
                        </div>
                        <div class="form-group col-md-7">
                            <label for="ds_hospital">Hospital:</label>
                            <select class="form-control form-control-sm" id="ds_hospital" name="ds_hospital">
                                <option selected>Escolher...</option>
                                {% for hospital in lista_hospitais %}
                                    <option>{{ hospital }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="beneficiario">Beneficiario:</label>
                            <input type="text" id="beneficiario"  style="text-transform: uppercase" name="beneficiario" class="form-control form-control-sm" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="plano">Plano:</label>
                            <input type="text" id="plano" name="plano" class="form-control form-control-sm" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="classificacao">Classificacao:</label>
                            <select class="form-control form-control-sm" id="classificacao" name="classificacao">
                                <option selected>Escolher...</option>
                                <option>CIRÚRGICO</option>
                                <option>CLÍNICO</option>
                                <option>PEDIÁTRICO</option>
                                <option>COVID</option>
                                <option>NEONATAL</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="diagnostico">Diagnostico:</label>
                            <textarea type="text" id="diagnostico" name="diagnostico" class="form-control" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="quadro_clinico">Quadro Clinico:</label>
                            <textarea type="text" id="quadro_clinico" name="quadro_clinico" class="form-control" rows="2"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="dt_entrada">Data de entrada:</label>
                            <input type="date" id="dt_entrada" name="dt_entrada" class="form-control">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="dt_saida">Data de saída:</label>
                            <input type="date" id="dt_saida"  name="dt_saida" class="form-control">
                         </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
                    <button type="button" class="btn btn-primary" onclick="limpar()">Limpar</button>

                </fieldset>
            </form>
        </div>

        <div class="form-group col-md-6">
        <table id="example" class="table table-bordered table-sm table-hover table-responsive">

            <thead class="thead-light">
                <tr>
                    <th style="font-size:0.8rem;">Número da Guia:</th>
                    <th style="font-size:0.8rem;">Acomodacao:</th>
                    <th style="font-size:0.8rem;">Hospital:</th>
                    <th style="font-size:0.8rem;">Beneficiário:</th>
                    <th style="font-size:0.8rem;">Entrada:</th>
                    <th style="font-size:0.8rem;">Saida:</th>
                    <th style="font-size:0.8rem;"></th>
                </tr>
            </thead>

            <tbody>
            {% for registro in censos %}
                    <tr>

                        <td style="font-size:0.8rem;">{{ registro.nr_guia }}</td>
                        <td style="font-size:0.8rem;">{{ registro.acomodacao }}</td>
                        <td style="font-size:0.8rem;">{{ registro.ds_hospital }}</td>
                        <td style="font-size:0.8rem;">{{ registro.beneficiario }}</td>
                        <td style="font-size:0.8rem;">{{ registro.dt_entrada if registro.dt_entrada != none else '' }}</td>
                        <td style="font-size:0.8rem;">{{ registro.dt_saida if registro.dt_saida != none else '' }}</td>
                        <td style="font-size:0.8rem;">
                            <a href="{{ url_for('editar',id=registro.id) }}">Editar</a>

                            <a href="{{ url_for('deletar', id=registro.id) }}" style="color: red" class="delete-confirm">Deletar</a>
                            <button class="btn btn-light btn-sm" onclick="getRegistro( {{ registro.id }})">Copiar</button>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>



    </div>




<script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='dataTables.bootstrap4.min.js') }}"></script>


<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );

    $('.delete-confirm').on('click', function (event) {
        event.preventDefault();
        const url = $(this).attr('href');
        swal({
            title: 'Você tem certeza?',
            text: 'Este registro e seus detalhes serão excluídos!',
            icon: 'warning',
            buttons: ["Cancelar", "Sim!"],
        }).then(function(value) {
            if (value) {
                window.location.href = url;
            }
        });
    });


    $(document).ready(function(){

        var vlabel = document.getElementsByTagName('label');

        var search = "Search:";
        for(var i = 0; i < vlabel.length; i++){

            if(vlabel[i].textContent == search){
                console.log(vlabel[i].textContent)
            }
         }
    });

    function getRegistro(id){

        $.ajax({
            url:"http://192.168.90.28:8001/buscar/"+id,
            type: "GET",

            dataType: "JSON",
                xhrFields: {
                withCredentials: true
                },
            success: function (resp){
                let nr_guia = resp.nr_guia;
                let acomodacao = resp.acomodacao;
                let ds_hospital = resp.ds_hospital;
                let beneficiario = resp.beneficiario;
                let plano = resp.plano;
                let classificacao = resp.classificacao;
                let quadro_clinico = resp.quadro_clinico;
                let dt_entrada = resp.dt_entrada;
                let dt_saida = resp.dt_saida;
                let diagnostico = resp.diagnostico;

                document.getElementById('nr_guia').value = nr_guia
                document.getElementById('acomodacao').value = acomodacao
                document.getElementById('ds_hospital').value = ds_hospital
                document.getElementById('beneficiario').value = beneficiario
                document.getElementById('plano').value = plano
                document.getElementById('classificacao').value = classificacao
                document.getElementById('quadro_clinico').value = quadro_clinico
                document.getElementById('dt_entrada').value = dt_entrada.substr(6,4)+'-'+dt_entrada.substr(3,2)+'-'+dt_entrada.substr(0,2)
                document.getElementById('dt_saida').value = dt_saida.substr(6,4)+'-'+dt_saida.substr(3,2)+'-'+dt_saida.substr(0,2)
                document.getElementById('diagnostico').value = diagnostico

            },
            error: function (){
                console.log('error')
            }

        })
    }

function limpar() {
  document.getElementById("formnovo").reset();
}







</script>

{% endblock %}