<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Censo Hospitalar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap4.1/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
      <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>

  </head>
  <body>
    <div class="container">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul id="messages" class="list-unstyled">
                        {% for category, message in messages %}
                        <li class="alert {{ category }}" onclick=delete_flash(this)>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        <div class="wrapper fadeInDown">
          <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">

              <img class="img-fluid " src="{{ url_for('static', filename='user.png') }}" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form method="POST" action="{{ url_for('autenticacaoManual') }}">
                <input type="hidden" name="proxima" value="{{ proxima or url_for('index') }}">
                <input type="text" id="login" class="fadeIn second" name="usuario" placeholder="Usuário">
                <input type="password" id="password" class="fadeIn third" name="senha" placeholder="Senha">
              <input type="submit" class="fadeIn fourth" value="Entrar">
            </form>

          </div>
      </div>

    </div>
    <script>
        function delete_flash(flash){
            $(flash).parent().remove()
        }
    </script>

</body>
</html>