<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='/bootstrap4.1/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sweetalert.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='twitter-bootstrap.css') }}">
    <title>Censo Hospitalar</title>
</head>
<body>

    <div class="container-fluid">

        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for category, message in messages %}
                    <li class="alert {{ category }}" onclick=delete_flash(this)>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

      <div class="page-header">

          <div class="row">
              <div class="col-md-2">

              </div>
               <div class="col-md-8 text-center">
                  <h1>{{ titulo }}</h1>
              </div>
              <div class="col-md-2 text-right">
                    <a href="{{ url_for('logout') }}" class="btn btn-info btn-lg">
                      <span class="glyphicon glyphicon-log-out"></span> Sair
                    </a>
              </div>
          </div>

      </div>

    {% block conteudo %}
    {% endblock %}

    </div>
    <script>
         function delete_flash(flash){
        $(flash).parent().remove()
    }
    </script>

    <script src="{{ url_for('static', filename='validacoes.js') }}"></script>
</body>

</html>

